.comunicacion {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.comunicacionContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: hidden;
}

