.supervision {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.supervisionContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;
  min-height: 0;
}

